/Users/chiarapullem/Uni/Master/MA2/Deep_Learning_CNV_Calling/Preprocessing/Homo_sapiens.GRCh37.dna.primary_assembly.fa
Preprocessing/Homo_sapiens.GRCh37.dna.primary_assembly.fa
Preprocessing/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz
Preprocessing/Homo_sapiens.GRCh37.dna.primary_assembly.fa.fai
Preprocessing/NA18511
Preprocessing/VCF
